ansi2html==1.9.2
attrs==25.3.0
Automat==24.8.1
blinker==1.9.0
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
configparser==7.2.0
constantly==23.10.4
coverage==7.7.1
coveralls==4.0.1
cryptography==44.0.2
dash==3.0.0
dash-bootstrap-components==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
distlib==0.3.9
docopt==0.6.2
filelock==3.18.0
Flask==3.0.3
Flask-Compress==1.17
future==1.0.0
genson==1.3.0
gunicorn==23.0.0
hyperlink==21.0.0
hypothesis==6.130.2
identify==2.6.9
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
mock==5.2.0
narwhals==1.32.0
nest-asyncio==1.6.0
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
packaging==21.3
pandas==2.1.4
pipreqs==0.4.12
platformdirs==4.3.7
plotly==5.18.0
pluggy==1.5.0
pre-commit==2.16.0
py==1.11.0
pyarrow==14.0.2
pycparser==2.22
pyOpenSSL==25.0.0
pyparsing==3.2.2
pytest==6.2.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rpds-py==0.23.1
ruamel.yaml==0.17.21
scikit-learn==1.3.2
scipy==1.13.0
setuptools==77.0.3
simplejson==3.20.1
six==1.17.0
sortedcontainers==2.4.0
stringcase==1.2.0
tabpy==2.13.0
termcolor==1.1.0
textblob==0.19.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
Twisted==24.11.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
virtualenv==20.29.3
visdcc==0.0.50
Werkzeug==3.0.6
yarg==0.1.10
yolk3k==0.9
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
